*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'jost';
}
/* -----------------------------------------------HEADER----------------------------------------- */

header nav li:last-child{
    border-color:#5758e0 !important;
}

header nav li:last-child:hover{
    background-image: linear-gradient(to right,blue,lightblue);
    color: white;
}

header nav li:not(:last-child) a:hover{
    color: #55b4d4 !important;
}

/* -----------------------------------------------CAROUSEL------------------------------------- */
.carousel-item{
    background: url(../images/main-img.jpg),rgba(0, 0, 0, 0.7);
    background-size: cover;
    padding: 180px 0px;
    background-blend-mode: color-burn;
    
    }
    .carousel-item a{
        background-color: #5758e0;
    }
    .carousel-item h2{
     background-image:linear-gradient(to left, #55b4d4, #5758e0);
    background-clip: text;
    color: transparent;
    }

/* SERVICES*/
.services{
    padding: 100px 0;
}
.services .col-4:first-child .services-item a::before{
    position: absolute;
    top: -10px;
    left:-5px;
    background-image: linear-gradient(to right,blue,lightblue);
    content: '';
    width: 80%;
    height: 60%;
    z-index: -1;
}
.services .col-4:last-child .services-item a::before{
    position: absolute;
    right: -5px;
    bottom: -10px;
    background-image: linear-gradient(to right,blue,lightblue);
    content: '';
    width: 80%;
    height: 60%;
    z-index: -1;
}
.services .col-4 .services-item i{
    background-image:linear-gradient(to left, #55b4d4, #5758e0);
    background-clip: text;
    color: transparent; 
}
.services-item a i:hover{
    color: white ;
}
.services-item:hover{
    background-image:linear-gradient(to left, #55b4d4, #5758e0);
    /* transform: translateY(10px); */
}
/* -----------------------------------------------------ABOUT----------------------- */
 .about span{
    height: 5px;
    width: 60px;
    background-image: linear-gradient(to right,blue,lightblue);
}
/*----------------------- SERVICES------------------------------- */
.col-4 .services-item a i{
    margin-top: 20px !important;

}
/* --------------------------------Professional------------------------------- */
.professional .d-inline-block{
    height: 5px;
    width: 60px;
    background-image: linear-gradient(to right,blue,lightblue);
}
.professional{
    padding: 100px;
}
.professional-cont ul li i{
    background-image:linear-gradient(to left, #55b4d4, #5758e0);
    background-clip: text;
    color: transparent;
}

/* ------------------------------------FEATURES---------------------------------------------- */
.features {
    padding: 110px;
}

/* ------------------------------------------------PORTFOLIO----------------------------------- */
.portfolio {
    padding: 80px;
}
  #portfolio-cont {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    opacity: 0;
    
  }
  .color {
    width: 400px;
    height: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.432);
    
  }
  .portfolio-hover:hover .color {
    opacity: 0.8;
    height: 500px;
    background:linear-gradient(to left, #55b4d4, #5758e0);
    /* transition: height 2s; */
  }
  .portfolio-hover:hover #portfolio-cont {
    opacity: 1;   
  }
  /* ------------------------------------------------------------VIDEO---------------------------------------- */
 
/* -------------- V I D E O - S E C T I O N ------------- */

.video-inner img {
  object-fit: cover;
  height: 500px;
}

.video-inner i {
  font-size: 150px;
  background-image: linear-gradient(to right, #5758e0, lightseagreen);
  background-clip: text;
  color: transparent;
}

.video-inner i:hover {
  font-size: 180px;
  transition: 0.2s;
}

/* -------------- V I D E O - S E C T I O N - E N D ------------- */
